html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background: #121212;
}

/* Layout */

section.header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url("./images/Movies.avif");
    background-position: 50% 25%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1.5em 0;
    min-height: 80px;
}

section.movie-feed, section.watchlist-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding-top: 2em;
}

#placeholder-movie-feed, #placeholder-watchlist-feed {
    margin-top: 5em;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 500px;
    background: #2E2E2F;
    border-radius: 6px;
    overflow: hidden;
    margin: -30px auto;
    height: 3rem;
    align-items: center;
    
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-movies-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-movie {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2em;
    height: 175px;
    padding: 2em 0;
}

.new-movie:not(:last-child) {
    border-bottom: solid #2c2c2c;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.25em;
    text-align: left;
}

.poster {
    min-width: 118.5px;
    background-size: cover;
    margin: 0;
}

.movie-title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.movie-specifics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.watchlist-button {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#film-add-modal {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 50vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.5em;
    
    color: white;
    background-color: #2c2c2c;
    border-radius: 5px;
}

/* Inputs and buttons */

#search-input {
    background: #2c2c2c;
    border: none;
    color: white;
    font-size: 1em;
    outline: none;
    font-family: inherit;
    letter-spacing: 0.2;
}

#search-input::placeholder {
    color: #A5A5A5;
}


#search-btn {
    background-color: #4B4B4B;
    padding: 0 2em;
    font-family: inherit;
    color: white;
    font-size: 1em;
    border: none;
    letter-spacing: 0.2;
    cursor: pointer;
    height: 100%;
}

#watchlist-btn {
    border: none;
    color: white;
    background: none;
    font-family: inherit;
    font-size: 0.8em;
    margin: 0 0.25em;
    padding: 0;
    letter-spacing: 0.5;
    cursor: pointer;
}

/* Text and links */

h1, h2, p {
    margin: 0;
    padding: 0;
}

section.header > h1, h2 {
    margin: 1em;
} 

h1 {
    font-size: 2.25em;    
}

h2 {
    font-size: 1em;
}

p#add-films {
    color: white;
}

.placeholder-text {
    color: #2E2E2F;
    font-weight: bold;
    font-size: 1.25rem;
}

.new-movie {
    color: white
}

.prompt-text {
    color: #787878
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h3.movie-title {
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
}

p.synopsis {
    color: #A5A5A5;
    margin-bottom: 1em;
}

p.movie-rating {
    margin: 0;
    font-size: 0.9rem;
    font-weight: normal;
}

p.genre-runtime {
    font-size: 0.8em;
    font-weight: normal;
    margin-right: 1em;
}

/* Images */

#reel {
    height: 4em;
}

.icon {
    height: 1.5rem;
    padding: 0 0.75em;
}

img.inline {
    margin: 0;
    padding: 0;
}

.star {
    height: 1rem;
    margin: 0;
}

/* Media queries */

@media (max-width: 550px) {
    .search {
        flex-direction: column;
        height: 4em;
    }

    .search-bar, #search-btn {
        width: 100%;
        flex: 1;
    }

    #search-btn {
        padding: 0;
    }

    #search-input {
        width: 100%;
        min-width: 0;
        padding-left: 0.25em;
        flex: 1;
    }
    
    #movie-feed, #watchlist-feed {
        font-size: 0.75rem;
    }
}